@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.985 0.004 248.9); /* text-primary */
  --foreground: oklch(0.254 0.015 63.3); /* second-base-color */

  /* Cards */
  --card: oklch(1 0 0); /* blanco */
  --card-foreground: oklch(0.254 0.015 63.3);

  /* Popover */
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.254 0.015 63.3);

  /* Colors */
  --primary: oklch(0.624 0.233 265.3);
  --primary-foreground: oklch(0.985 0.004 248.9);

  --secondary: oklch(0.569 0.049 257.7);
  --secondary-foreground: oklch(0.985 0.004 248.9);

  /* Feedback */
  --success: oklch(0.778 0.177 149.1);
  --success-foreground: oklch(0.254 0.015 63.3);

  --error: oklch(0.717 0.215 27.4);
  --error-foreground: oklch(0.254 0.015 63.3);

  --warning: oklch(0.862 0.179 79.6);
  --warning-foreground: oklch(0.254 0.015 63.3);

  --link: oklch(0.726 0.167 240.3);

  /* Muted */
  --muted: oklch(0.96 0.01 250);
  --muted-foreground: oklch(0.45 0.03 260);

  /* Accent */
  --accent: oklch(0.96 0.01 250);
  --accent-foreground: oklch(0.254 0.015 63.3);

  /* Border / Input */
  --border: oklch(0.92 0.01 250);
  --input: oklch(0.92 0.01 250);

  --ring: oklch(0.624 0.233 265.3);

  --radius: 0.5rem;
}

.dark {
  --background: oklch(21.612% 0.00611 55.916); /* second-base-color */
  --foreground: oklch(98.463% 0.00181 249.248); /* text-primary */

  /* Cards elevadas */
  --card: oklch(27.523% 0.00573 55.971); /* base */
  --card-foreground: oklch(0.985 0.004 248.9);

  --popover: oklch(0.293 0.02 68.4);
  --popover-foreground: oklch(0.985 0.004 248.9);

  /* Colors */
  --primary: oklch(58.338% 0.23059 277.077);
  --primary-foreground: oklch(0.985 0.004 248.9);

  --secondary: oklch(55.102% 0.02343 264.389);
  --secondary-foreground: oklch(0.985 0.004 248.9);

  /* Feedback */
  --success: oklch(72.276% 0.19199 149.6);
  --success-foreground: oklch(0.985 0.004 248.9);

  --error: oklch(63.681% 0.20784 25.315);
  --error-foreground: oklch(0.985 0.004 248.9);

  --warning: oklch(84.597% 0.17319 85.571);
  --warning-foreground: oklch(0.254 0.015 63.3);

  --link: oklch(72.32% 0.16242 238.865);

  /* Muted */
  --muted: oklch(0.293 0.02 68.4);
  --muted-foreground: oklch(0.569 0.049 257.7);

  /* Accent */
  --accent: oklch(0.293 0.02 68.4);
  --accent-foreground: oklch(0.985 0.004 248.9);

  /* Border / Input */
  --border: oklch(30.118% 0.00003 271.152);
  --input: oklch(28.094% 0.00003 271.152);

  --ring: oklch(0.624 0.233 265.3);

  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.container {
  @apply w-[90%] mx-auto;
}

.text-base {
  @apply text-[16px];
}

span.hero-icons {
  @apply flex items-center gap-x-3;
}
